<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Long</title>
    <script src="vue.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="container" id="index">
    <!--标题-->
    <div class="top">
        <div class="top-title">Life Box</div>
        <p class="top-info">关于每个人的生命</p>
    </div>
    <div class="info">
        <div class="info-birth">
            <p>出生日期</p>
            <input type="date" id="birth" v-model="input1">
        </div>
        <div class="info-death">
            <p>预计生存</p>
            <input type="date" id="death" v-model="input2">
        </div>
        <button class="submit" v-show="btn_show" v-on:click="getInfo()">提交</button>
    </div>
    <div class="time">
        <div class="ed">
            <h4>您已经生存</h4>
            <p>{{ed_d}}天</p>
            <p>{{ed_s}}秒</p>
        </div>
        <div class="ing">
            <h4>您还能生存</h4>
            <div class="ing-info">
                <p class="day">{{ing_d}}天</p>
                <p class="hour">{{ing_h}}时</p>
                <p class="min">{{ing_m}}分</p>
                <p class="second">{{ing_s}}秒</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>by 4per</p>
    </div>
</div>
<script>
    onload = function () {
        var birthTime = index.getCookieValue("birthTime");
        var deathTime = index.getCookieValue("deathTime");
        console.log(birthTime);
        if (birthTime === '' || deathTime === '') {
            return{}
        } else {
            document.getElementById('birth').value = birthTime;
            console.log('========='+document.getElementById('birth').value);
            document.getElementById('death').value = deathTime;
            index.calTime(birthTime, deathTime);
            console.log('hhhhhh');
        }
    };
    var index = new Vue({
        el: '#index',
        data: {
            btn_show: 'ok',
            ed_d: null,
            ed_s: null,
            ing_d: null,
            ing_h: null,
            ing_m: null,
            ing_s: null,
            input1: '',
            input2: ''
        },
        methods: {
            getCookieValue: function (name) {
                var name = name;
                //读cookie属性，这将返回文档的所有cookie
                var allcookies = document.cookie;
                //查找名为name的cookie的开始位置
                name += "=";
                var pos = allcookies.indexOf(name);
                //如果找到了具有该名字的cookie，那么提取并使用它的值
                if (pos != -1) {                       //如果pos值为-1则说明搜索"version="失败
                    var start = pos + name.length;         //cookie值开始的位置
                    var end = allcookies.indexOf(";", start);    //从cookie值开始的位置起搜索第一个";"的位置,即cookie值结尾的位置
                    if (end == -1) end = allcookies.length;    //如果end值为-1说明cookie列表里只有一个cookie
                    var value = allcookies.substring(start, end); //提取cookie的值
                    return (value);              //对它解码
                } else { //搜索失败，返回空字符串
                    return "";
                }
            },

            setCookie: function (birthTime, deathTime) {
                var date = new Date();
                date.setTime(date.getTime() + 24 * 60 * 60 * 1000);
                document.cookie = "birthTime=" + birthTime + ";expires=" + date.toGMTString();
                document.cookie = "deathTime=" + deathTime + ";expires=" + date.toGMTString();
            },

            getInfo: function () {
                // 判断是否有数据
                if (this.input1 === '' || this.input2 === '') {
                    alert('请填写信息');
                } else {
                    // 获取输入的出生/死亡时间，并转换为时间戳进行计算
                    var birthTime = this.input1;
                    var deathTime = this.input2;
                    this.calTime(birthTime,deathTime);

                    this.setCookie(birthTime, deathTime);
                }
            },
            calTime:function (birthTime,deathTime) {
                var oldStamp = new Date(birthTime).getTime();
                //获取当前时间戳
                var nowStamp = new Date().getTime();
                // 计算时间差
                var time1 = (nowStamp - oldStamp) / 1000;
                // 天
                this.ed_d = Math.floor((time1) / (24 * 60 * 60));
                this.ed_s = Math.floor(time1);

                // 根据输入的生存时间，并转换为时间戳进行计算
                var deathStamp = new Date(deathTime).getTime();
                var time2 = (deathStamp - nowStamp) / 1000;
                this.ing_d = Math.floor((time2) / (24 * 60 * 60));
                this.ing_h = Math.floor((time2) / (60 * 60));
                this.ing_m = Math.floor((time2) / (60));
                this.ing_s = Math.floor(time2);
                this.btn_show = '';
                // 利用定时器刷新页面时间
                console.log("dsdsdsd");
            }
        }
    })
    // index.getTime();
    // 设置1秒定时以刷新时间

</script>


</body>
</html>